@import url('/css/main-styles.css');

.catalog_cards .common-card {
  height: 185px;
  position: relative;
}

.catalog_cards .common-card--title {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

.brands__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.brands__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 104px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
  border: 1px solid #F6F7FA;
  margin: 0 0 8px 8px;
}

.brands__cards--slider {
  display: none;
  margin-top: 20px;
  max-width: 285px;
  height: 150px;
}

.brands__cards--slider .brands__card {
  margin: 0;
}

.brands__cards--slider .swiper-slide {
  width: 104px;
  height: 104px;
}

@media (max-width: 768px) {
  .inner-page__left {
    flex-basis: auto;
  }

  .brands__cards--slider {
    display: block;
    max-width: 100%;
  }

  .brands__cards {
    display: none;
  }

  .brands__cards {
    justify-content: center;
  }
}

.catalog-actions-wrapper {
  margin-top: 16px;
  display: flex;
}

@media (max-width: 991px) {
  .catalog-actions-wrapper {
    flex-direction: column;
  }

  .catalog__search {
    margin-right: 0;
    flex-basis: auto;
  }

  .catalog__refer-link {
    margin-top: 16px;
  }
}
