@import url('/css/main-styles.css');
/* main content */


.user-avatar img {
  display: block;
  margin: 0 auto;
}

.verification-account {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 14px auto 0 auto;
}

.verification-icon {
  margin-right: 10px;
}

.verification-account__text {
  color: #22C2A4;
  font-size: 12px;
  margin: 0;
  line-height: 1.2;
}

.verification-account.empty .verification-account__text {
  color: #EB5757;
}

.user-location {
  margin-top: 34px;
  display: flex;
}

.user-location__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: -2px;
  width: 12px;
  height: 17px;
  display: block;
  background-image: url('.././img/location-icon-grey.svg');
  background-repeat: no-repeat;
}

.user-location__text {
  position: relative;
  color: #979DAD;
  font-size: 12px;
  padding-left: 20px;
  margin: 0;
  line-height: 1.2;
}

.user-name {
  color: #23262F;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.user-age {
  color: #23262F;
  margin-top: 2px;
  line-height: 1.5;
  font-size: 14px;
}

.user-contacts {
  margin-top: 20px;
  color: #535C73;
  font-size: 14px;
  line-height: 1.5;
}

.user-phone {
  display: flex;
  align-items: center;
}

.user-phone__text {
  position: relative;
  padding-left: 30px;
}

.user-phone__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  display: block;
  background-image: url('.././img/user-phone-icon.svg');
  background-repeat: no-repeat;
}

.user-email {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.user-email__text {
  position: relative;
  padding-left: 30px;
}

.user-email__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  display: block;
  background-image: url('.././img/user-email-icon.svg');
  background-repeat: no-repeat;
}

.user-progress {
  margin-top: 50px;
}

.user-progress.empty .user-progress__progress-bar::after {
  content: "0%";
}

.user-progress.empty .user-progress__progress-bar #bar {
  stroke-dashoffset: 845;
}

.user-progress__title {
  color: #ADBBD4;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}

.user-progress__progress-bar {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.user-progress__progress-bar svg {
  transform: rotate(90deg);
}

.user-progress__progress-bar::after {
  position: absolute;
  display: block;
  height: 120px;
  width: 120px;
  left: 50%;
  top: 50%;
  content: attr(data-progress);
  margin-top: -80px;
  margin-left: -60px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 14px;
  color: #F4651F;
}

.user-progress__progress-bar circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #F0F5FB;
  stroke-width: 17px;
  stroke-linecap: round;
}

.user-progress__progress-bar #bar {
  stroke-dashoffset: 424;
  stroke: #F4651F;
}

.user-edit {
  display: flex;
  justify-content: center;
  max-width: 250px;
  align-items: center;
  margin: 50px auto 0 auto;
}

.user-edit.empty #edit-profile--icon {
  fill:#874CFA;
}

.user-edit svg {
  margin-right: 10px;
}

.user-edit__text {
  position: relative;
  color: #ADBBD4;
  font-size: 12px;
}

.user-edit__text.empty {
  color: #874CFA;
  font-weight: 600;
}

.user-edit__link {
  text-decoration: none;
}

.progress-block__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 18px;
}

.progress-block__card {
  display: flex;
  align-items: center;
  max-width: 241px;
  width: 100%;
  padding: 27px 17px;
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
  margin-right: 6px;
  margin-left: 6px;
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 16px;
}

.progress-block-card__text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.progress-block-card__text--secondary {
  font-weight: 700;
  font-size: 12px;
  color: #7A7A9D;
}

.progress-block-card__text--title {
  color: #16192C;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  margin-top: 3px;
}

.courses-block {
  margin-top: 15px;
}



@media (max-width: 768px) {
  .user-location,
  .user-phone,
  .user-email {
    justify-content: center;
  }
}