@import url('/css/components.css');
@import url('/css/modal.css');
@import url('/css/mobile-menu.css');

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  color: #23262F;
  background-color: #f0f5fb;
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  display: flex;
}

.sidebar {
  position: fixed;
  background-color: #874CFA;
  border-radius: 20px;
  padding: 50px 35px 50px 20px;
  width: 82px;
  transition: 0.5s;
  top: 14px;
}

.sidebar.active {
  width: 190px;
}

.sidebar.active .sidebar_text {
  opacity: 0.8;
  visibility: visible;
  transition-delay: 0s;
}

.sidebar.active .sidebar__link.active .sidebar_text {
  opacity: 1;
}

.main-wrapper {
  width: 100%;
  padding-left: 82px;
  transition: .5s;
}

.sidebar.active+.main-wrapper {
  padding-left: 190px;
}

.main {
  padding: 30px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 42px;
}

.sidebar__link:last-child {
  margin-bottom: 0;
}

.sidebar_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  margin-right: 14px;
  border-radius: 15px;
  transition: box-shadow .2s ease;
  flex-shrink: 0;
}

.sidebar_icon img {
  width: 22px;
  height: 22px;
}

.sidebar__link.active .sidebar_icon {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar__link:hover .sidebar_icon {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar_text {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  padding-right: 3px;
  transition: opacity 0.3s, visibility 0.3s ease 0.3s;
}

.sidebar__link.active .sidebar_text {
  font-weight: 700;
  padding-right: 0;
}

.sidebar__link:hover .sidebar_text {
  font-weight: bold;
  padding-right: 0;
}

.sidebar__toogle-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  width: 42px;
  height: 42px;
  background-color: #6E3DCE;
  border-radius: 15px;
  margin: 50px 0 0;
}

.sidebar__toogle-menu--icon {
  transition: all .3s ease 0s;
}

.sidebar.active .sidebar__toogle-menu--icon {
  transform: rotate(-180deg);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  max-width: 117px;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__balance {
  display: flex;
  align-items: center;
  background-color: rgba(252, 253, 255, 0.6);
  padding: 12.5px 25px;
  border-radius: 15px;
  margin-right: 16px;
}

.header__wallet-icon {
  margin-right: 18px;
}

.mobile__balance {
  display: none;
  margin: 20px auto 0 auto;
  max-width: 285px;
  align-items: center;
  background-color: rgba(252, 253, 255, 0.6);
  padding: 9px 25px;
  border-radius: 15px;
}

.mobile__wallet-icon {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}

.mobile-balance__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.mobile-balance__number {
  font-weight: 900;
}

.header-balance__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.header-balance__number {
  font-weight: 900;
}

.header__notifications {
  position: relative;
  margin-right: 16px;
}

.header-notifications__trigger {
  height: 60px;
  width: 60px;
  cursor: pointer;
  border: 0;
  display: block;
  line-height: 0;
  background-color: rgba(252, 253, 255, 0.6);
  padding: 11px;
  border-radius: 15px;
  background-image: url('.././img/notification-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__notifications--overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: fade-in 200ms both;
  z-index: 1;
  display: none;
}

.header__notifications.active .header-notifications__content {
  display: block;
}

.header__notifications.active .header__notifications--overlay {
  display: block;
}

.header-notifications__content {
  z-index: 3;
  animation: growDown 300ms ease forwards;
  transform-origin: top center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 355px;
  background-color: #F7FAFD;
  border-radius: 15px;
  box-shadow: 0px 8px 24px -8px rgba(163, 175, 192, 0.42);
  line-height: 1.15;
  padding: 11px 0 16px 0;
}

@keyframes growDown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-notifications-content__list {
  background-color: #fff;
  border-radius: 15px;
}

.header-notifications-content-list__item {
  text-decoration: none;
  color: #11142D;
  transition: background-color .3s ease;
  padding: 18px 16px;
  border-radius: 15px;
  position: relative;
  display: flex;
  padding-bottom: 20px;
}

.header-notifications-content-list__item:hover {
  background-color: #F0F5FB;
}

.header-notifications-content-list__item:hover .header-notifications-content-list__img {
  background-color: #fff;
}

.header-notifications-content-list__item::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 1px;
  background-color: #E4E4E4;
}

.header-notifications-content-list__item:last-child::before {
  display: none;
}

.header-notifications-content-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  padding: 9px;
  border-radius: 12px;
  height: 40px;
  width: 40px;
  background-color: #F0F5FB;
  transition: background-color .3s ease;
}

.header-notifications-content-list__text {
  line-height: 1.2;
}

.header-notifications__header {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 11px;
  margin-bottom: 16px;
}

.header__notifications-icon.content {
  margin-right: 30px;
}

.header-notifications__title {
  width: 100%;
  font-size: 18px;
}

.close-notifications {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 12px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('.././img/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.header__notifications-icon {
  max-height: 38px;
}

.header__account {
  position: relative;
  background-color: rgba(252, 253, 255, 0.6);
  padding: 11px 18px;
  border-radius: 15px;
  z-index: 2;
}

.header-account__header {
  display: flex;
  align-items: center;
  z-index: 2;
}

.mobile-account-modal-trigger {
  display: none;
  width: 40px;
  height: 40px;
  box-shadow: 0px 3.2381px 12.9524px -6.47619px rgb(163 175 192 / 56%);
  border-radius: 100%;
  border: 3px solid #fff;
}

.mobile-account-modal-trigger__img {
  width: 100%;
  height: 100%;
}

.header__account-img {
  width: 38px;
  height: 38px;
  margin-right: 18px;
  box-shadow: 0px 3.2381px 12.9524px -6.47619px rgba(163, 175, 192, 0.56);
  border-radius: 100%;
  border: 3px solid #fff;
}

.header__account-name {
  margin: 0 30px 0 0;
  font-size: 18px;
}

.header__account-dropdown-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  z-index: 2;
}

.header-account-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border-radius: 15px;
}

.header-account-list__link {
  color: #11142D;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px;
  border-radius: 15px;
  transition: background-color .3s ease;
  background-image: url('.././img/arrow-dropdown-icon.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.header-account-list__link:hover {
  background-color: #F0F5FB;
}

.header-account-list__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 1px;
  background-color: #E4E4E4;
}

.header-account-list__link:last-child:before {
  display: none;
}

.header-account-list__img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.header-account-list__name {
  margin: 0;
  font-weight: 600;
  max-width: 100px;
  line-height: 16.8px;
}

.header-account__button {
  max-width: 190px;
  margin-top: 16px;
}

.header-account__content {
  z-index: 99;
  width: 282px;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  animation: growDown 300ms ease forwards;
  transform-origin: top center;
}

.header__account--overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: fade-in 200ms both;
  z-index: 1;
  display: none;
}

.header__account-dropdown-img {
  transition: transform .3s ease;
}

.header__account.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.header__account.active .header__account-dropdown-img {
  transform: rotate(-180deg);
}

.header__account.active .header-account__content {
  display: block;
  background-color: #F7FAFD;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 15px;
}

.header__account.active .header__account--overlay {
  display: block;
}

.burger-menu {
  display: none;
}

/* main content */

.inner-container {
  max-width: 1110px;
}

.inner-page-title {
  margin-top: 20px;
  background-color: #fff;
  padding: 18px 50px;
  border-radius: 20px;
}

.inner-page-title.empty_bg {
  background-color: transparent;
}

.inner-page-title h1 {
  font-size: 38px;
  font-weight: 700;
  margin: 0;
}

.inner-page__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.inner-page__left {
  flex-basis: 285px;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px 30px;
  margin-right: 15px;
}

.inner-page__right {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.inner-page__block {
  background-color: #fff;
  border-radius: 16px;
}

.category_page .inner-page__block {
  padding: 30px 50px;
}

@media (max-width: 991px) {
  .category_page .inner-page__block {
    padding: 14px 30px;
  }
}

.progress-block {
  padding: 20px 24px 8px 24px;
}

.inner-page-emoji-title {
  display: flex;
  align-items: center;
}

.inner-page-emoji-title.centered {
  justify-content: center;
}

.inner-page-emoji-title img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.inner-page-emoji-title h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  margin: 0;
}

.common-cards--block {
  padding: 20px 24px;
  flex: 1 1 auto;
}

@media (max-width: 991px) {
  .burger-menu {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .main-wrapper {
    padding: 0;
  }

  .main {
    padding: 0;
  }

  .header__balance,
  .header__logo,
  .header__account-name,
  .header__account-dropdown-btn,
  .header__account-img {
    display: none;
  }

  .mobile__balance {
    display: flex;
  }

  .mobile-account-modal-trigger {
    display: block;
  }

  .header {
    background-color: #fff;
    padding: 0 15px;
  }

  .inner-container {
    padding: 0 15px 15px 15px;
  }

  .header__account {
    padding: 0;
    background-color: transparent;
  }

  .header__account-img {
    margin-right: 0;
    height: 40px;
    width: 40px;
  }

  .header__notifications {
    position: static;
  }

  body.notifications-open {
    overflow: hidden;
  }

  .header__notifications--overlay {
    background-color: rgba(50, 59, 75, .3);
  }

  .header-notifications__content {
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .inner-page-title {
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .inner-page__content {
    flex-direction: column;
  }

  .inner-page-title {
    padding: 0;
    background-color: transparent;
  }

  .inner-page__left {
    margin-right: 0;
    margin-bottom: 16px;
    text-align: center;
  }
}

.form-input-catalog {
  display: flex;
  align-items: center;
  margin-top: 22px;
  background-color: #F6F7FA;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 522px;
}

.form-input-catalog input {
  outline: none;
  width: 100%;
  height: 40px;
  background-color: #F6F7FA;
  padding: 8px 16px;
  border: 0;
  text-overflow: ellipsis;
}

.form-input-catalog.with_icon {
  position: relative;
}

.category_page .form-input-catalog.with_icon {
  max-width: 100%;
}

.form-input-catalog.with_icon input {
  padding-left: 56px;
}

.form-input-catalog.with_icon::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  height: 24px;
  width: 24px;
  background-image: url('/img/input-search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 16px;
}

.form-input-catalog input.copy-link {
  color: #000;
}

.form-input-catalog__button {
  max-width: 146px;
  height: 40px;
  border-radius: 16px;
  padding: 13px 0;
}

.form-input-catalog__button.orange {
  background-color: #F4651F;
}

.form-input-catalog__button.orange:hover {
  background-color: #DD6327;
}

.form-input-catalog__button.purple {
  background-color: #874CFA;
}

.form-input-catalog__button.purple:hover {
  background-color: #7544D6;
}

.link_horizontal .form-input-catalog__button.purple {
  background-image: url('/img/input-copy-icon--white.svg');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 68px;
}

.catalog__search {
  flex-basis: 608px;
  padding: 20px 43px 30px;
  margin-right: 22px;
}

.catalog__refer-link {
  flex: 1 1 auto;
  padding: 20px 43px 30px;
}

@media (max-width: 530px) {
  .form-input-catalog.with_icon::before {
    display: none;
  }

  .form-input-catalog.with_icon input {
    padding-left: 16px;
  }

  .form-input-catalog__button {
    width: 68px;
  }

  .catalog__search,
  .catalog__refer-link {
    padding: 30px 12px;
  }

  .form-input-catalog__button span {
    display: none;
  }

  .form-input-catalog__button.orange {
    background-image: url('/img/input-search-icon--white.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-input-catalog__button.purple {
    background-image: url('/img/input-copy-icon--white.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.breadcrumb {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 50px;
  margin-top: 20px;
}

.breadcrumb .breadcrumb__item+.breadcrumb__item:before {
  padding: 8px;
  color: #7A7A9D;
  content: "\25CF";
}

.breadcrumb__item a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
  color: #7A7A9D;
}

.breadcrumb__item.active a {
  text-decoration: underline;
}

.breadcrumb__item.with-icon a {
  text-decoration: none;
  color: #874CFA;
}

li.breadcrumb__item.with-icon a {
  display: flex;
  align-items: center;
}

.breadcrumb__link--icon {
  display: flex;
  align-items: center;
}

.breadcrumb__icon {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .breadcrumb {
    padding: 20px 10px;
  }

  li.breadcrumb__item.with-icon a span {
    display: none;
  }
}

.three-columns-grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-column {
  border-radius: 16px;
}

.grid-column.main-column {
  display: block;
  overflow: hidden;
  background-color: #22C2A4;
  flex-basis: 828px;
  height: 393px;
  margin-right: 16px;
}

.grid-column.main-column.blue {
  background-color: #9BCAE8;
}

.grid-column.secondary {
  background-color: #fff;
  flex: 1 1 auto;
  width: 266px;
}

.grid-column.info {
  margin-top: 16px;
  background-color: #fff;
  flex-basis: 100%;
}

.grid-column__cards-wrapper {
  padding: 20px 24px;
}

.grid-card {
  height: 100%;
  display: flex;
}

.grid-card__img {
  height: 100%;
}

.grid-card__img img {
  display: block;
  height: 100%;
}

.grid-card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0 40px 50px;
}

.grid-card__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.5;
}

.grid-card__subtitle {
  margin-top: 20px;
  line-height: 1.4;
}

.grid-card__button {
  margin: 30px 0 0 0;
  max-width: 188px;
  font-size: 12px;
  padding: 10px 0;
  border-radius: 10px;
}

.grid-card-sec {
  text-align: center;
  padding: 50px 24px;
}

.grid-card-sec__text {
  line-height: 1.5;
}

.grid-card-sec__text a {
  color: #2F80ED;
}

.grid-cards-last {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid-cards-last--conditions .grid-card-last {
  height: 135px;
}

.grid-cards-last--conditions .grid-card-last__title {
  height: 35px;
}

.grid-cards-last--conditions .grid-card-last__subtitle {
  font-size: 38px;
  font-weight: 600;
}

.grid-card-last {
  max-width: 293px;
  width: 100%;
  padding: 30px 47px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
  display: flex;
  align-items: center;
  margin: 10px;
}

.grid-card-last__img {
  margin-right: 16px;
}

.grid-card-last__title {
  color: #7A7A9D;
  font-weight: bold;
}

.grid-card-last__subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 8px;
  line-height: 136.52%;
}

@media (max-width: 1255px) {
  .grid-column.main-column {
    flex-basis: 100%;
    margin-right: 0;
    height: auto;
    margin-bottom: 16px;
  }

  .grid-card__title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {

  .grid-column.main-column,
  .grid-column.main-column.blue {
    background-color: transparent;
  }

  .grid-card {
    flex-direction: column-reverse;
  }

  .grid-card__img {
    background-color: #22C2A4;
  }

  .grid-column.main-column.blue .grid-card__img {
    background-color: #9BCAE8;
  }

  .grid-card__text {
    background-color: #fff;
    padding: 30px 20px;
  }

  .grid-card__title {
    font-size: 20px;
  }

  .grid-card__img img {
    margin: auto;
    height: auto;
    max-width: 300px;
  }

  .grid-card__button {
    margin: 30px auto 0 auto;
  }

  .grid-card-last {
    padding: 17px;
  }
}

.two-columns-grid {
  display: flex;
  margin-top: 20px;
}

.content-column {
  flex-basis: 649px;
  margin-right: 16px;
}

.info-column {
  flex: 1 1 auto;
}

.inner-page__block.partners {
  padding: 20px 20px 20px 50px;
}

.partners__title {
  margin-top: 30px;
  font-size: 22px;
  line-height: 1.1;
  font-weight: bold;
}

.partners__info {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.partners__video {
  border-radius: 16px;
  overflow: hidden;
  height: 384px;
}

.partners__link {
  border-radius: 16px;
  padding: 20px 29px;
  display: flex;
  flex-direction: column;
}

.partners__link:first-child {
  margin-bottom: 16px;
}

.partners__link.orange {
  background-color: #FFF7F6;
}

.partners__link.purple {
  background-color: #F7F2FF;
}

.partners__input {
  outline: none;
  margin-top: 22px;
  color: #000;
  background-color: #fff;
  border-radius: 16px;
  border: 0;
  padding: 10px 16px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.partners__button {
  margin-top: 17px;
  max-width: 146px;
  margin-right: 0;
}

@media (max-width: 991px) {
  .two-columns-grid {
    flex-direction: column;
  }

  .inner-page__block.partners {
    padding: 0;
    background-color: transparent;
  }

  .inner-page__block.partners .inner-page-emoji-title {
    justify-content: center;
  }

  .content-column {
    flex-basis: auto;
    margin-right: 0;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 16px;
    padding: 10px;
  }

  .partners__link {
    border: 2px solid #fff;
  }
}

.catalog-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-list__item {
  display: block;
  overflow: hidden;
  margin: 0 6px 12px;
  text-decoration: none;
  color: #000;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
  max-width: 250px;
  border: 1px solid transparent;
  transition: border .3s ease;
}

.catalog-list__img {
  display: block;
  margin: 16px auto 0;
}

.catalog-list__item:hover {
  border: 1px solid rgba(122, 122, 157, 0.5);
}

.catalog-list__item--content {
  padding: 16px 19px;
}

.catalog-list__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.catalog-list__descr {
  color: #7A7A9D;
  line-height: 1.4;
  margin-top: 12px;
}

.catalog-list__price {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: right;
}

.catalog__pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 30px;
}

.catalog-pagination-btn {
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: #ADBBD4;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-pagination-btn.active {
  background-color: #F4651F;
}

.catalog-pagination__prev {
  background-image: url('/img/pagination_left--icon.svg');
  margin-right: 7px;
}

.catalog-pagination__next {
  background-image: url('/img/pagination_right--icon.svg');
}

@media (max-width: 991px) {
  .catalog-list {
    justify-content: center;
  }

  .catalog__pagination {
    justify-content: center;
    margin-right: 0;
  }
}

.link_horizontal {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: #F7F2FF;
  max-width: 600px;
  width: 100%;
  padding: 16px 40px;
  border-radius: 16px;
}

.link_horizontal .inner-page-emoji-title {
  margin-top: 0 !important;
}

.link_horizontal .inner-page-emoji-title__item {
  max-width: 160px;
  font-size: 14px;
  line-height: 1.5;
}

.link_horizontal .form-input-catalog {
  max-width: 300px;
  margin-top: 0;
  background-color: #fff;
}

.link_horizontal .form-input-catalog input {
  background-color: #fff;
}

@media (max-width: 991px) {
  .link_horizontal {
    flex-direction: column;
    padding: 14px 12px;
  }

  .link_horizontal .inner-page-emoji-title__item {
    max-width: 100%;
  }

  .link_horizontal .form-input-catalog {
    margin-top: 10px;
  }
}

.catalog_cards .common-card {
  height: 185px;
  position: relative;
}

.catalog_cards .common-card--title {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

.brands__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.brands__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 104px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 16px;
  border: 1px solid #F6F7FA;
  margin: 0 0 8px 8px;
}

.brands__cards--slider {
  display: none;
  margin-top: 20px;
  max-width: 285px;
  height: 150px;
}

.brands__cards--slider .brands__card {
  margin: 0;
}

.brands__cards--slider .swiper-slide {
  width: 104px;
  height: 104px;
}

@media (max-width: 768px) {
  .inner-page__left {
    flex-basis: auto;
  }

  .brands__cards--slider {
    display: block;
    max-width: 100%;
  }

  .brands__cards {
    display: none;
  }

  .brands__cards {
    justify-content: center;
  }
}

.catalog-actions-wrapper {
  margin-top: 16px;
  display: flex;
}

@media (max-width: 991px) {
  .catalog-actions-wrapper {
    flex-direction: column;
  }

  .catalog__search {
    margin-right: 0;
    flex-basis: auto;
  }

  .catalog__refer-link {
    margin-top: 16px;
  }
}