@import url('/css/main-styles.css');

.inner-page__block.partners {
  padding: 20px 20px 20px 50px;
}

.partners-wrapper {
  display: flex;
  margin-top: 20px;
}

.partners__content {
  flex-basis: 649px;
  margin-right: 16px;
}

.partners__links {
  flex: 1 1 auto;
}

.partners__title {
  margin-top: 30px;
  font-size: 22px;
  line-height: 1.1;
  font-weight: bold;
}

.partners__info {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.partners__video {
  border-radius: 16px;
  overflow: hidden;
  height: 384px;
}

.partners__link {
  border-radius: 16px;
  padding: 20px 29px;
  display: flex;
  flex-direction: column;
}

.partners__link:first-child {
  margin-bottom: 16px;
}

.partners__link.orange {
  background-color: #FFF7F6;
}

.partners__link.purple {
  background-color: #F7F2FF;
}

.partners__input {
  outline: none;
  margin-top: 22px;
  color: #000;
  background-color: #fff;
  border-radius: 16px;
  border: 0;
  padding: 10px 16px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.partners__button {
  margin-top: 17px;
  max-width: 146px;
  margin-right: 0;
}

@media (max-width: 991px) {
  .partners-wrapper {
    flex-direction: column;
  }
  .inner-page__block.partners {
    padding: 0;
    background-color: transparent;
  }
  .inner-page__block.partners .inner-page-emoji-title {
    justify-content: center;
  }
  .partners__content {
    flex-basis: auto;
    margin-right: 0;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 16px;
    padding: 10px;
  }
  .partners__link {
    border: 2px solid #fff;
  }
}